In [2]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("./data/books.csv")
# df.head()

In [ ]:
# Keep only needed columns
df = df[["original_title", "authors", "image_url"]]

In [7]:
# Rename columns for recommender
df = df.rename(columns={
    "original_title": "name",
    "authors": "description"
})

In [8]:
# Add category column
df["category"] = "book"

In [9]:
# Drop missing titles
df = df.dropna(subset=["name"])

In [10]:
# Reset index
df = df.reset_index(drop=True)

In [11]:
df.head()

,name,description,image_url,category
0,The Hunger Games,Suzanne Collins,https://images.gr-assets.com/books/1447303603m...,book
1,Harry Potter and the Philosopher's Stone,"J.K. Rowling, Mary GrandPré",https://images.gr-assets.com/books/1474154022m...,book
2,Twilight,Stephenie Meyer,https://images.gr-assets.com/books/1361039443m...,book
3,To Kill a Mockingbird,Harper Lee,https://images.gr-assets.com/books/1361975680m...,book
4,The Great Gatsby,F. Scott Fitzgerald,https://images.gr-assets.com/books/1490528560m...,book

In [12]:
df.to_csv("./data/products.csv", index=False)
print("Clean dataset saved as products.csv ✅")

Clean dataset saved as products.csv ✅